@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body{
    background: #424672;
    -webkit-font-smoothing: antialiased;
}

body, imput, button{
    font-family: 'Poppins', sans-serif;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: rgb(154, 186, 212);
}
.paper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
    width: 50%;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.input{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    height: 50px;    
    margin: 10px;
}
.button{
    height: 50px;
    margin: 10px;    
}
.head{
    background: #bcc1f5;
}